
showcaseAPI/.vs/ProjectEvaluation/showcaseapi.metadata.v7.bin
showcaseAPI/.vs/ProjectEvaluation/showcaseapi.projects.v7.bin
showcaseAPI/.vs/showcaseAPI/DesignTimeBuild/.dtbcache.v2
showcaseAPI/.vs/showcaseAPI/FileContentIndex/14fd75aa-a120-40e0-95fd-0cb3cd4db74a.vsidx
showcaseAPI/.vs/showcaseAPI/FileContentIndex/49161ac7-c469-4856-92c6-914029e6b231.vsidx
showcaseAPI/.vs/showcaseAPI/FileContentIndex/59de6665-0334-4ce6-bc79-1f7037c10149.vsidx
showcaseAPI/.vs/showcaseAPI/FileContentIndex/77cea24e-f8f3-45f3-9f90-f3b5feab2d6d.vsidx
showcaseAPI/.vs/showcaseAPI/FileContentIndex/bef0426e-4ac2-41e8-9b4a-bb463a451d1a.vsidx
showcaseAPI/.vs/showcaseAPI/FileContentIndex/ef7910b1-2f36-4aaf-b30b-ed6694bd4d43.vsidx
showcaseAPI/.vs/showcaseAPI/FileContentIndex/fd8d4645-02e5-4107-bdb6-8dd02d8582c9.vsidx
showcaseAPI/obj/Debug/net8.0/apphost.exe
showcaseAPI/obj/Debug/net8.0/showcaseAPI.AssemblyInfo.cs
showcaseAPI/obj/Debug/net8.0/showcaseAPI.AssemblyInfoInputs.cache
showcaseAPI/obj/Debug/net8.0/showcaseAPI.assets.cache
showcaseAPI/obj/Debug/net8.0/showcaseAPI.GeneratedMSBuildEditorConfig.editorconfig
showcaseAPI/obj/project.assets.json
showcaseAPI/obj/project.nuget.cache
showcaseAPI/obj/showcaseAPI.csproj.nuget.dgspec.json
showcaseAPI/obj/showcaseAPI.csproj.nuget.g.props
